Click==7.0
defusedxml==0.5.0
dicttoxml==1.7.4
elementpath==1.0.12
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
pytz==2018.5
spyne==2.12.14
SQLAlchemy==1.2.12
Werkzeug==0.14.1
xmlschema==1.0.5
